
.slide-container{
  width: 100%;
  margin: 0 0;
}

.slider{
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  margin: 10px 0;
  background: linear-gradient(90deg, rgb(24, 172, 196), rgb(24, 172, 196));
  outline: none;
  border-radius: 12px;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #18ACC4;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  margin: -17px 0;
}

.slider::-moz-range-thumb{
  border: 2px solid #18ACC4;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  margin: -17px 0;
}

/* Stylizing the select box */


.select-style{
  top: 1px;
  position: relative;
  margin: 0 0;
  bottom: 20px;
  border: 2px solid rgb(235, 235, 235);
  width: 95%;
  height: 45px;
  border-radius: 5px;
  background: rgba(0,0,0,0);
}
 .select-style .arrow-icon {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #6a6a6a;
  border-right: 3px solid #6a6a6a;
  transform: rotate(45deg);

} 

.select-style select{
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  padding: 0 10px;
  margin: 0 0;
  font-size: 1em;
  font-weight: 400;
  border: none;
  outline: none;

}


/* Stylizing the checkbox */


.label-container{
  font-weight: 200;
  display: inline;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.label-container input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  outline: none;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 1;
  cursor: pointer;
}

.check{
  position: absolute;
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
.label-container input:checked {
  background: #18acc4;
}

/* Stylizing the Button */
#main-form button{
  font-weight: 700;
}

/* Stylizing the #main form */

table{
  width: 100%;
}


td{
  border-bottom: 3px solid  rgba(235, 235, 235, .6);

}
.hidden-jquery-item{
  display: none;
}
.show-jquery-item{
  display: none;
}