@import url('https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700&display=swap');

html {
    height: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Kanit', sans-serif;
    background: #FBFBFB;
}

/* Here you can find out the Navegation's Bar Style */
.m-f-show-item{
    display:none;
}
nav{
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    background: #fff;
}
header{
    position: relative;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.26);
}
.nav-item{
    margin: 5px 0px;
    height: 3em;
}
#nav-content-1{
    margin-right: 10%;
    border-right: 4px solid rgba(235, 235, 235, .6);
    
}
#nav-content-2{
    display: flex;
    width: 120%;
    margin: 8px;
}
#main-nav{
    align-items: center;
}
#main-nav img{
    width: auto;
    height: 50px;
}

.nav-icon{
    color: #18ACC4;
}

.info{
    border: 3px solid #18ACC4;
    width: 30px;
    height: 30px;
    padding: 4px 9px;
    margin: 4px 0;
    border-radius: 50%;
    justify-content: center; 
    align-items: center;
}

/* From here you can find out all of styles used on the section Tag*/

#first-section{
    background: #18ACC4;
    font-family: 'Kanit', sans-serif;
}
#first-section h2{   
    margin: 7px 0;
}

#second-section{
    color: #18ACC4;
    font-family: 'Kanit', sans-serif;
    margin: 30px 0;
}
#second-section span{
    color: #6a6a6a;
    margin: 0 15px;
}
#second-section .row{
    margin: 0 20px;
}

#third-section .row{
    margin: 0 20px;
}

#fourth-section{
    margin: 30px 0;
}

#fourth-section .row{
    margin: 15px 25px;
  
}
#all-semesters{
    background-color: #007A8D;
    margin: 2px -6px;
}

#semesters-place .b-outline-choosed{
    position: relative;
    height: 2.2em;
}
#semesters-place .b-outline-choosed p{
    margin: 2px 0;
}

.sec-icon{
    font-size: 2em;
    color: #18ACC4;
}
/* Here is the footer components and their styles */
.justify-c{
    padding: 25px 0;
    width: 250px;
    font-size: .8em;
}
.footer-row{
    height: 90px;
    background: #18ACC4;
    font-size: .7em;
}
#footer-row-1{
    background: #007A8D;
}
#info-footer{
    border: 3px solid #fff;
    width: 40px;
    height: 40px;
    font-size: 1.4em;
    padding: 8px 8px;
    border-radius: 50%;
    justify-content: center; 
    align-items: center;
}
footer p{
 font-size: 0.9em;
 width: 100%;
 margin-left: -1px;
}
/* Here are the typograph components and their styles */

h1{
    font-weight: 500;
    font-size: 2.7em;
    margin: 15px 50px;
}

h2{
    font-weight: 400;
    color: #fff; 
    font-size: 1em;
}
h3,h4{
    
    color: #18ACC4;
}
h3{
    font-weight: 400;
    font-size: 1em;
}
h4{
    font-weight: 700;
    font-size: .67em;
    margin: 5px 0;
}
h5{
    font-weight: 500;
}
p{
    color: #6a6a6a;
    margin: 0 50px;
}

/*  Modal components styles */

#my-modal h1{
    margin: 0 ;
    font-size: 1.8em; 
   
}
#my-modal p {
    font-weight: 300;
    font-size: .8em;
    margin: -5px 0;
}
#my-modal .input-text{
    font-weight: 300;
    font-size: .9em;
    margin: 0 0;
}
#my-modal select{
    appearance: none;
    background: #fff;
    width: 95%;
    height: 40px;
    font-size: 1em;
    font-weight: 400;
    /* -webkit-appearance: button; */
}

#my-modal h3{
    margin: 0 10px;
    font-size: 1em;
}

#main-form span{
    color: #0FA866;
    font-weight: 500;
}
